.movies-card-list__container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(203px, 1fr));
    justify-content: center;
    margin: 80px 70px 30px;
    grid-auto-flow: dense;
    list-style: none;
    column-gap: 24px;
    display: grid;
    row-gap: 30px;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .movies-card-list__container {
        margin: 80px 30px 0;
        gap: 36px 30px;
    }
}

@media screen and (max-width: 600px) {
    .movies-card-list__container {
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        margin: 50px 10px 0;
        display: flex;
    }
}

@media screen and (max-width: 400px) {
    .movies-card-list__container {
        margin: 50px 10px 0;
        row-gap: 16px;
    }
}