.movies-card__card {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.08);
    justify-content: center;
    flex-direction: column;
    max-width: 100%;
    display: flex;
}

.movies-card__title {
    line-height: 18px;
    font-weight: 500;
    font-size: 15px;
    color: #000000;
    margin: 0;
}

.movies-card__time {
    margin: 10px 0 0 0;
    line-height: 13px;
    font-weight: 400;
    font-size: 11px;
    color: #8B8B8B;
}

.movies-card__link {
    flex-direction: column;
    text-decoration: none;
    display: flex;

}

.movies-card__info {
    justify-content: space-between;
    margin: 0 14px 0 14px;
    align-items: center;
    min-height: 68px;
    display: flex;
}

.movies-card__delete-favorites-btn {
    background-image: url("../../images/movies-card__delete-favorites-btn.svg");
    background-repeat: no-repeat;
    background-color: #fff;
    min-height: 30px;
    min-width: 30px;
    cursor: pointer;
    border: none;
    padding: 0;
    margin: 0;
}

.movies-card__delete-favorites-btn:hover {
    transition: 1.5s;
    opacity: 0.5;
}

.movies-card__add-favorites-btn {
    background-image: url("../../images/movies-card__add-favorites-btn.svg");
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    min-height: 30px;
    min-width: 30px;
    cursor: pointer;
    border: none;
    padding: 0;
    margin: 0;
}

.movies-card__add-favorites-btn_active {
    background-image: url("../../images/movies-card__add-favorites-btn_active.svg");
}

.movies-card__add-favorites-btn:hover {
    background-image: url("../../images/movies-card__add-favorites-btn_active.svg");
    transition: 1.5s;
}

.movies-card__image {
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .movies-card__card {
        min-height: 258px;
        max-width: 339px;
    }
}

@media screen and (max-width: 720px) {
    .movies-card__card {
        min-height: 236px;
    }
}

@media screen and (max-width: 720px) {
    .movies-card__image {
        max-height: 168px;
    }
}

@media screen and (max-width: 320px) {
    .movies-card__card {
        min-width: 300px;
    }
}
