.profile {
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  min-height: 626px;
  max-width: 1280px;
}

.profile__title {
  margin: 75px 0 104px;
  font-weight: 500;
  font-size: 24px;
  color: #fff;
}

.profile__subtitle {
  border-bottom: 1px solid #e8e8e8;
  align-items: center;
  font-weight: 500;
  font-size: 11px;
  display: flex;
  height: 50px;
  width: 20%;
}

.profile__subtitle_bottom {
  border-bottom: none;
}

.profile__form {
  padding-bottom: 16px;
  max-width: 410px;
  width: 100%;
}

.profile__label {
  display: flex;
  align-items: center;
}

.profile__btn {
  background: transparent;
  text-align: center;
  font-weight: 400;
  font-size: 13px;
  cursor: pointer;
  display: block;
  border: none;
  margin: 0 auto;
  padding: 0;
}

.profile__btn_type_edit {
  margin-top: 202px;
  color: #fff;
}

.profile__btn_type_edit:hover {
  transition: 0.3s;
  opacity: 0.7;
}
.profile__btn_type_edit {
  opacity: 1;
}

.profile__btn_type_logout {
  font-weight: 500;
  color: #ee3465;
}

.profile__btn_type_edit.profile__btn_disable {
  color: #c2c2c2;
  cursor: default;
  opacity: 1;
}

.profile__input {
  border: none;
  border-bottom: 1px solid #e8e8e8;
  background: transparent;
  font-style: normal;
  line-height: 13px;
  text-align: right;
  font-weight: 400;
  font-size: 11px;
  outline: none;
  height: 50px;
  padding: 0;
  width: 80%;
  color: #fff;
}

.profile__input::placeholder {
  color: #fff;
}

.profile__input_bottom {
  border-bottom: none;
}

@media screen and (max-width: 770px) {
  .profile__btn_type_edit {
    margin-top: 192px;
  }
}

@media screen and (max-width: 768px) {
  .profile {
    min-height: 920px;
  }
}

@media screen and (max-width: 768px) {
  .profile__title {
    margin: 237px 0 77px;
  }
}

@media screen and (max-width: 480px) {
  .profile__btn_type_edit {
    align-items: center;
    text-align: center;
    margin-top: 360px;
    line-height: 15px;
    font-size: 12px;
  }
}

@media screen and (max-width: 480px) {
  .profile__btn_type_logout {
    align-items: center;
    text-align: center;
    line-height: 15px;
    font-size: 12px;
  }
}

@media screen and (max-width: 480px) {
  .profile {
    min-height: 706px;
  }
}

@media screen and (max-width: 480px) {
  .profile__title {
    margin: 72px 0 60px;
  }
}

@media screen and (max-width: 480px) {
  .profile__form {
    max-width: 260px;
    margin: 0;
  }
}
