.nav-tab {
  justify-content: center;
  margin: 151px 0 0 0;
  flex-direction: row;
  align-self: center;
  min-height: 39px;
  display: flex;
}

.nav-tab__button {
  background-color: var(--color-dark-gray2);
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-weight: 500;
  min-height: 36px;
  cursor: pointer;
  min-width: 96px;
  display: flex;
  border: none;
  padding: 0;
  margin-right: 10px;
  font-size: var(--text-xxs);
  line-height: var(--text-line-l);
}

.nav-tab__button:hover {
  box-shadow: 0px 0px 5px 0px var(--color-text-primary-rgpa-50);
}

.nav-tab__button:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .nav-tab {
    margin-top: 315px;
  }
}

@media screen and (max-width: 480px) {
  .nav-tab {
    padding-bottom: 17px;
    margin-top: 182px;
    min-height: 26px;
  }
}

@media screen and (max-width: 480px) {
  .nav-tab__link {
    margin-right: 6px;
  }

  .nav-tab__link:last-of-type {
    margin-right: 0;
  }
}

@media screen and (max-width: 480px) {
  .nav-tab__button {
    line-height: 16px;
    min-height: 26px;
    min-width: 82px;
    font-size: 10px;
  }
}
