.authorization {
    margin: 0 auto;
    max-width: 1280px;
    min-height: 266px;
    color: #222222;
    padding-top: 150px;
}

.authorization__header {
    flex-direction: column;
    margin: 0 auto 0 auto;
    align-items: center;
    max-width: 1280px;
    min-height: 217px;
    display: flex;
}

.authorization__header-container {
    min-width: 396px;
}

.authorization__logo-container {
    min-height: 38px;
    margin-top: 70px;
    max-width: 38px;
}

.authorization__text {
    margin: 38px 0 40px 0;
    line-height: 29px;
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
}

.authorization__container {
    margin: 0 auto;
    max-width: 396px;
    list-style: none;
    padding: 0;
}

.authorization__name {
    line-height: 12px;
    font-weight: 400;
    font-size: 10px;
    color: #8B8B8B;
    margin: 0;
}

.authorization__input {
    background-color: #222;
    color: #fff;
    margin-bottom: 10px;
    font-style: normal;
    line-height: 17px;
    font-weight: 500;
    font-size: 14px;
    min-width: 100%;
    margin-top: 5px;
    outline: none;
    border: none;
    padding: 0;
}

.authorization__part-form {
    border-bottom: #424242 1px solid;
}

.authorization__part-form:has(input:focus) {
    border-bottom: #4285F4 1px solid;
}

.authorization__validation-text {
    margin: 6px 0 6px 0;
    line-height: 12px;
    font-weight: 400;
    font-size: 10px;
    color: #FF3055;
}

.authorization__validation-text:last-of-type {
    margin-bottom: 0;
}

.authorization__confirm {
    justify-content: flex-start;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    min-height: 217px;
    max-width: 1280px;
    display: flex;
}

.authorization__confirm-button {
    background-color: #4285F4;
    padding-right: 125px;
    padding-left: 125px;
    text-align: center;
    border-radius: 3px;
    line-height: 17px;
    margin: 134px 0 0;
    font-weight: 500;
    min-width: 396px;
    min-height: 45px;
    font-size: 14px;
    cursor: pointer;
    color: #FFFFFF;
    border: none;
}

.authorization__confirm-button-login {
    margin-top: 203px;
}

.authorization__confirm-container {
    margin: 16px auto 70px auto;
    justify-content: flex-start;
    flex-direction: row;
    min-height: 17px;
    display: flex;
}

.authorization__confirm-text {
    line-height: 17px;
    font-weight: 400;
    font-size: 14px;
    color: #8B8B8B;
    margin: 0;
}

.authorization__confirm-link {
    text-decoration: none;
    margin: 0 0 0 6px;
    line-height: 17px;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    color: #4285F4;
}

@media screen and (max-width: 768px) {
    .authorization {
        max-width: 768px;
        padding: 0;
    }
}

@media screen and (max-width: 768px) {
    .authorization__header {
        min-height: 379px;
    }
}

@media screen and (max-width: 768px) {
    .authorization__logo-container {
        margin-top: 233px;
    }
}

@media screen and (max-width: 768px) {
    .authorization__text {
        margin-top: 38px;
    }
}

@media screen and (max-width: 768px) {
    .authorization__confirm {
        min-height: 379px;
        max-width: 768px;
    }
}

@media screen and (max-width: 768px) {
    .authorization__confirm-button {
        margin-top: 133px;
    }

    .authorization__confirm-button-login {
        margin-top: 202px;
    }
}

@media screen and (max-width: 480px) {
    .authorization__header {
        min-height: 253px;
    }
}

@media screen and (max-width: 480px) {
    .authorization__header-container {
        flex-direction: column;
        align-items: center;
        min-width: 260px;
        display: flex;
    }
}

@media screen and (max-width: 480px) {
    .authorization__container {
        max-width: 260px;
    }
}

@media screen and (max-width: 480px) {
    .authorization__logo-container {
        margin: 56px auto 0 auto;
    }
}

@media screen and (max-width: 480px) {
    .authorization__confirm {
        min-height: 261px;
        max-width: 320px;
    }
}

@media screen and (max-width: 480px) {
    .authorization__confirm-button {
        padding-right: 68px;
        padding-left: 68px;
        line-height: 15px;
        margin-top: 225px;
        min-width: 260px;
        font-size: 12px;
    }

    .authorization__confirm-button-login {
        margin-top: 292px;
    }
}

@media screen and (max-width: 480px) {
    .authorization__confirm-container {
        margin: 14px auto 30px;
    }
}

@media screen and (max-width: 480px) {
    .authorization__confirm-text {
        line-height: 15px;
        font-size: 12px;
    }
}

@media screen and (max-width: 480px) {
    .authorization__confirm-link {
        line-height: 15px;
        margin-left: 10px;
        font-size: 12px;
    }
}

@media screen and (max-width: 480px) {
    .authorization__confirm-text {
        line-height: 15px;
        font-size: 12px;
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .authorization__text {
        margin-top: 48px;
    }
}