.nav-profile-btn {
  background-color: #F9F9F9;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  line-height: 18px;
  min-width: 100px;
  font-weight: 500;
  font-size: 14px;
  color: #000000;
  display: flex;
  border: none;
  height: 32px;
  padding: 0;
  margin: 0;
}

.nav-profile-btn_is-close {
  display: none;
}

.nav-profile-btn-link {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.nav-profile-btn:hover {
  transition: 1s ease-in;
  opacity: 0.6;
  cursor: pointer;
}

.nav-profile-btn__display_open {
  margin-top: 593px;
  display: block;
}

.nav-profile-menu {
  background-image: url('./../../../../src/images/header-nav__menu-button.svg');
  background-position: center;
  background-color: #FFFFFF;
  cursor: pointer;
  display: none;
  border: none;
  height: 44px;
  width: 44px;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .nav-profile-menu {
      display: inline-block;
  }
}

@media screen and (max-width: 768px) {
  .nav-profile-btn {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .nav-profile-btn__display_open {
    margin-top: 415px;
  }
}

@media screen and (max-width: 400px) {
  .nav-profile-menu {
    background-size: cover;
    height: 35px;
    width: 35px;
  }
}
