.popup {
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.5s ease-out;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    overflow: hidden;
    position: fixed;
    display: block;
    width: 100%;
    opacity: 0;
    z-index: 2;
    height: 0;
    left: 0;
    top: 0;
}

.popup_opened {
    display: flex;
    height: 100%;
    opacity: 1;
}

.popup__close-button {
    background-image: url(../../../src/images/close.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px 32px;
    box-sizing: border-box;
    position: absolute;
    cursor: pointer;
    right: -40px;
    height: 32px;
    width: 32px;
    padding: 0;
    top: -40px;
    border: 0;
    margin: 0;
}

.popup__info-tooltip-title {
    color: #222;
    margin: 0 36px 60px;
    font-style: normal;
    text-align: center;
    line-height: 29px;
    font-weight: 900;
    font-size: 24px;
    width: 358px;
    height: 58px;
}

.popup__info-tooltip-icon {
    margin: 60px 0 32px;
    height: 120px;
    width: 120px;
}

.popup__content {
    box-shadow: 0 0 25px rgb(0 0 0.15);
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    width: 430px;
}

.popup_type_info-tooltip {
    flex-direction: column;
    align-items: center;
    display: flex;
}

@media screen and (max-width: 640px) {
    .popup__close-button {
        background-size: 20px 20px;
        height: 20px;
        width: 20px;
        top: -30px;
        right: 0;
    }
}

@media screen and (max-width: 640px) {
    .popup__info-tooltip-icon {
        margin: 50px 0 40px;
        width: 120px;
        height: 120px;
    }
}

@media screen and (max-width: 640px) {
    .popup__content {
        width: 282px;
    }
}

@media screen and (max-width: 640px) {
    .popup__info-tooltip-title {
        margin: 0 18px 50px;
        text-align: center;
        font-style: normal;
        line-height: 24px;
        font-weight: 900;
        font-size: 20px;
        width: 244px;
        height: 48px;
    }
}