.tech {
    background-color: #272727;
    margin: 0 auto 0 auto;
    min-height: 625px;
    max-width: 1280px;
}

.tech__title {
    border-bottom: #fff 1px solid;
    letter-spacing: -0.04em;
    margin: 0 70px 0 70px;
    line-height: 27px;
    max-width: 1140px;
    padding-top: 99px;
    min-height: 50px;
    font-weight: 400;
    font-size: 22px;
}

.tech__description-title {
    letter-spacing: -0.04em;
    margin-bottom: 26px;
    text-align: center;
    line-height: 58px;
    margin-top: 90px;
    font-weight: 400;
    font-size: 50px;
}

.tech__description {
    letter-spacing: -0.04em;
    margin: 0 auto 100px;
    text-align: center;
    line-height: 20px;
    max-width: 460px;
    font-weight: 400;
    font-size: 14px;
}

.tech__navigation {
    justify-content: center;
    flex-direction: row;
    min-height: 60px;
    flex-wrap: wrap;
    display: flex;
    padding: 0;
}

.tech__link {
    margin-bottom: 90px;
    margin-right: 10px;
}

.tech__link:last-of-type {
    margin-right: 0;
}

.tech__button {
    background-color: #303030;
    letter-spacing: -0.04em;
    justify-content: center;
    text-decoration: none;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    line-height: 17px;
    font-weight: 400;
    min-height: 60px;
    font-size: 14px;
    min-width: 90px;
    cursor: pointer;
    color: #fff;
    display: flex;
    border: none;
    padding: 0;
}

@media screen and (max-width: 1024px) {
    .tech__title {
        margin: 0 50px 0 50px;
        padding-top: 93px;
    }
}

@media screen and (max-width: 768px) {
    .tech {
        min-height: 571px;
    }
}

@media screen and (max-width: 768px) {
    .tech__link {
        margin: 0 10px 0 0;
    }

    .tech__link:last-of-type {
        margin-bottom: 70px;
    }
}

@media screen and (max-width: 768px) {
    .tech__button {
        line-height: 15px;
        min-height: 60px;
        min-width: 84px;
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {
    .tech__title {
        padding-top: 94px;
        max-width: 668px;
    }
}

@media screen and (max-width: 768px) {
    .tech__description-title {
        margin-bottom: 22px;
        margin-top: 80px;
    }
}

@media screen and (max-width: 768px) {
    .tech__description {
        letter-spacing: -0.04em;
        margin: 0 auto 82px;
        text-align: center;
        font-style: normal;
        line-height: 18px;
        font-weight: 400;
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {
    .tech__navigation {
        min-height: 57px;
    }
}

@media screen and (max-width: 720px) {
    .tech__description-title {
        margin-bottom: 24px;
        line-height: 36px;
        margin-top: 60px;
        font-size: 30px;
    }
}

@media screen and (max-width: 720px) {
    .tech__navigation {
        grid-template-columns: repeat(2, 84px);
        justify-content: center;
        display: grid;
        gap: 10px;
    }
}

@media screen and (max-width: 720px) {
    .tech__description {
        margin-bottom: 50px;
        line-height: 16px;
        font-size: 11px;
    }
}

@media screen and (max-width: 600px) {
    .tech__title {
        margin: 0 18px 0 18px;
        padding-top: 70px;
        line-height: 22px;
        font-size: 18px;
    }
}

@media screen and (max-width: 400px) {
    .tech__description {
        max-width: 280px;
    }
}

@media screen and (max-width: 320px) {
    .tech__button {
        min-height: 57px;
        min-width: 84px;
    }
}

@media screen and (max-width: 320px) {
    .tech {
        min-height: 651px;
    }
}