.header {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    max-width: 1140px;
    padding: 0 70px 0;
    min-height: 74px;
    margin: 0;
    display: flex;
}

.header__logo-container {
    align-items: center;
    display: flex;
}

@media screen and (max-width: 768px) {
    .header {
        padding: 0 30px 0;
    }
}

@media screen and (max-width: 400px) {
    .header {
        padding: 0 15px 0;
    }
}