.promo {
    background-color: #272727;
    margin: 18px 40px 0 40px;
    border-radius: 10px;
    align-self: center;
    min-height: 493px;
    max-width: 1200px;
    padding: 0;
}

.promo__title {
    letter-spacing: -0.04em;
    padding-top: 160px;
    font-style: normal;
    text-align: center;
    line-height: 58px;
    font-weight: 400;
    margin: 0 auto;
    max-width: 850px;
    font-size: 50px;
    color: #fff;
}

@media screen and (min-width: 1281px) {
    .promo {
        margin: 20px auto 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .promo {
        margin: 20px 20px 17px;
    }
}

@media screen and (max-width: 768px) {
    .promo__title {
        letter-spacing: -0.04em;
        text-align: center;
        padding-top: 350px;
        font-style: normal;
        line-height: 52px;
        max-width: 550px;
        font-weight: 400;
        font-size: 40px;
    }
}

@media screen and (max-width: 480px) {
    .promo {
        margin: 15px 14px 0;
        min-height: 586px;
        max-width: 480px;
    }
}

@media screen and (max-width: 400px) {
    .promo__title {
        letter-spacing: -0.04em;
        padding-bottom: 31px;
        font-style: normal;
        padding-top: 219px;
        line-height: 37px;
        max-width: 290px;
        margin: 0 auto;
        font-weight: 400;
        font-size: 29px;
    }
}