.search {
    border-bottom: 1px solid #424242;
    padding: 70px 0 0;
    margin: 0 70px 0;
}

.search__container {
    flex-direction: row;
    align-items: center;
    background: #2F2F2F;
    border-radius: 10px;
    margin: 0 0 69px;
    min-height: 72px;
    display: flex;
}

.search__border {
    background: #424242;
    margin: 0 27px 0;
    height: 40px;
    width: 1px;
}

.search__toggle {
    justify-content: space-around;
    align-items: center;
    display: flex;
}

.search__toggle_mini-size {
    display: none;
}

.search__films {
    padding-right: 30px;
    margin: 0 0 0 15px;
    line-height: 18px;
    font-weight: 400;
    font-size: 13px;
}

.search__input {
    border: none;
    color: #8B8B8B;
    background-color: #2F2F2F;
    padding: 0 0 0 10px;
    font-style: normal;
    line-height: 20px;
    font-weight: 400;
    font-size: 18px;
    outline: none;
    width: 100%;
}

.search__input::placeholder {
    color: #A0A0A0;
}

.search__button {
    background: #2F2F2F;
    padding: 5px 3px 3px 2px;
    line-height: 18px;
    font-weight: 500;
    font-size: 11px;
    color: #FFFFFF;
    border: none;
    margin: 0;
}

.search__tumbler {
    display: inline-block;
    position: relative;
    cursor: pointer;
    height: 20px;
    width: 36px;
}

.search__slider {
    background-color: #3DDC84;
    transform: scale(-1, -1);
    border-radius: 16px;
    position: absolute;
    transition: 0.6s;
    inset: 0;
}

.search__slider::before {
    border: 1px solid #C4C4C4;
    background-color: #F5F5F5;
    border-radius: 50%;
    position: absolute;
    height: 16px;
    content: "";
    width: 16px;
    bottom: 1px;
    left: 1px;
    transition: 0.3s;
}

.search__checkbox {
    display: none;
}

.search__checkbox:checked+.search__slider {
    background-color: #fff;
}

.search__checkbox:checked+.search__slider::before {
    transform: translateX(16px);
}

.search__search-image {
    margin-left: 19px;
    height: 34px;
    width: 34px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .search__container {
        width: 100%;
        margin: 0;
    }

    .search {
        flex-direction: column;
        padding: 80px 0 108px;
        margin: 0 30px 0;
    }

    .search__border {
        margin: 0 18px 0;
    }

    .search__search-image {
        margin-left: 19px;
        height: 34px;
        width: 34px;
    }

    .search__input {
        padding: 0 11px;
    }

    .search__films {
        padding-right: 20px;
        padding-left: 0;
    }
}

@media screen and (max-width: 540px) {
    .search {
        padding: 80px 0 45px;
        margin: 0 10px 0;
    }

    .search__container {
        margin: 0 0 44px;
        width: 100%;
    }

    .search__button {
        margin-right: 20px;
    }

    .search__toggle {
        display: none;
    }

    .search__toggle_mini-size {
        justify-content: center;
        align-items: center;
        margin: 0 0 0 0;
        display: flex;
    }

    .search__input {
        padding: 0 19px 0;
        line-height: 20px;
        font-size: 14px;
    }

    .search__search-image {
        margin-right: -4px;
    }

    .search__search-image-none {
        display: none;
    }

    .search__border {
        display: none;
    }

    .search__films {
        padding-right: 2px;
        font-size: 11px;
    }
}