.navigation {
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    display: none;
    z-index: 2;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

.navigation_is-opened {
    display: block;
    top: -24px;
}

.navigation__content {
    justify-content: space-between;
    background-color: #202020;
    box-sizing: border-box;
    flex-direction: column;
    position: relative;
    margin: 0 0 0 auto;
    max-width: 520px;
    color: #000000;
    display: flex;
    height: 100%;
    width: 100%;
}

.navigation__close {
    background-position: center;
    background-color: #202020;
    position: absolute;
    min-height: 22px;
    max-width: 22px;
    cursor: pointer;
    border: none;
    right: 30px;
    padding: 0;
    top: 47px;
}

.navigation__close-img {
    max-width: 30px;
}

.navigation__links {
    justify-content: space-between;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
    display: flex;
    padding: 0;
    margin: 0;
}

.navigation__link-container {
    margin: 24px auto 0;
    max-width: max-content;
    text-decoration: none;
    border-bottom: none;
    padding-bottom: 4px;
    text-align: center;
    cursor: pointer;
}

.navigation__link-container:first-of-type {
    padding-top: 159px;
}

.navigation__link-container:last-of-type {
    margin: 0;
    padding: 0;
}

.navigation__link {
    text-decoration: none;
    border-bottom: none;
    line-height: 22px;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
}

.navigation__button-container {
    justify-content: flex-end;
    margin: 0 auto 92px auto;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.navigation__link_active {
    border-bottom: #fff 2px solid;
    padding-bottom: 5px;
}

@media screen and (max-width: 540px) {
    .navigation__link-container:first-of-type {
        padding-top: 144px;
    }
}

@media screen and (max-width: 540px) {
    .navigation__button-container {
        margin-bottom: 48px;
    }
}

@media screen and (max-width: 320px) {
    .navigation__close {
        right: 14px;
        top: 44px;
    }
}