@keyframes preloader-red {
    0% {
        transform: scale(0, 0);
    }

    40% {
        transform: scale(0, 0);
    }

    100% {
        transform: scale(1, 1);
    }
}

@keyframes preloader-white {
    0% {
        transform: scale(0, 0);
    }

    100% {
        transform: scale(1, 1);
    }
}

.preloader {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 20px;
    height: 100%;
    z-index: 99;
}

.preloader__container {
    position: relative;
    height: 100px;
    width: 100px;
}

.preloader__round {
    background: #2BE080;
    border-radius: 50px;
    position: absolute;
    height: 100px;
    width: 100px;
    left: 0;
    top: 0;
}

.preloader__round::after,
.preloader__round::before {
    border-radius: 50px;
    position: absolute;
    height: 100px;
    width: 100px;
    content: '';
    left: 0;
    top: 0;
}

.preloader__round::before {
    animation: preloader-red 1s ease-in-out infinite;
    background: #2BE080;
    z-index: 99;
}

.preloader__round::after {
    animation: preloader-white 1s ease-in-out infinite;
    background: white;
}