.ScrollMoviesBtn {
    min-width: 320px;
    min-height: 36px;
    border-radius: 6px;
    margin: 0 auto;
    font-size: var(--text-xxs);
    line-height: 1.25;
    font-weight: var(--text-weight-m);
    border: var(--color-gray-2) 1px solid;
    color: var(--color-text-primary);
    background: var(--color-very-dark-gray-3);
}

.ScrollMoviesBtn:hover {
    box-shadow: 0 0 11px var(--color-black-rgba-30);
}

.ScrollMoviesBtn:active {
    opacity: 0.7;
}

@media screen and (max-width: 370px) {
    .ScrollMoviesBtn {
        min-width: 240px;
    }
}