.scroll-movies-btn {
    margin: 0 auto 80px;
    justify-content: center;
    max-width: 1280px;
    min-height: 50px;
    display: flex;
}

.scroll-movies-btn_none {
    margin: 0 auto 90px;
}

.scroll-movies-btn__button {
    border: #424242 1px solid;
    min-width: 320px;
    min-height: 36px;
    border-radius: 6px;
    height: 36px;
    background: #202020;
    color: #FFF;
    font-size: 12px;
    line-height: normal;
    margin: 50px 0 95px;
    cursor: pointer;
}

.scroll-movies-btn__button-none {
    display: none;
}

@media screen and (max-width: 768px) {
    .scroll-movies-btn_none {
        margin: 0 auto 120px;
    }
}

@media screen and (max-width: 768px) {
    .scroll-movies-btn__button {
        margin-top: 80px;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 480px) {
    .scroll-movies-btn__button {
        margin-bottom: 40px;
        min-width: 240px;
    }
}

@media screen and (max-width: 400px) {
    .scroll-movies-btn_none {
        margin: 0 auto 162px;
    }
}