.not-found-page {
    justify-content: center;
    flex-direction: column;
    margin: 0 auto 0 auto;
    max-width: 1280px;
    min-height: 700px;
    display: flex;
}

.not-found-page__title {
    margin: 246px 0 0 0;
    line-height: 169px;
    text-align: center;
    min-height: 169px;
    min-width: 400px;
    font-weight: 400;
    font-size: 140px;
}

.not-found-page__text {
    text-align: center;
    margin: 5px 0 0 0;
    line-height: 19px;
    min-width: 400px;
    font-weight: 400;
    font-size: 16px;
}

.not-found-page__link {
    margin: 184px 0 60px 0;
    text-decoration: none;
    text-align: center;
    line-height: 17px;
    font-weight: 400;
    font-size: 14px;
    color: #FF6838;
}

.not-found-page__link-button {
    background-color: #FFFFFF;
    color: #FF6838;
    border: none;
}

.not-found-page__link-button:hover {
    cursor: pointer;
    color: #000000;
    opacity: 0.7;
}

@media screen and (max-width: 768px) {
    .not-found-page {
        min-height: 1024px;
    }
}

@media screen and (max-width: 768px) {
    .not-found-page__title {
        margin-top: 248px;
    }
}

@media screen and (max-width: 480px) {
    .not-found-page {
        min-height: 780px;
    }
}

@media screen and (max-width: 480px) {
    .not-found-page__title {
        line-height: 97px;
        margin-top: 329px;
        min-width: 300px;
        min-height: 97px;
        font-size: 80px;
    }
}

@media screen and (max-width: 480px) {
    .not-found-page__link {
        margin: 284px 0 30px 0;
        line-height: 15px;
        font-size: 12px;
    }
}

@media screen and (max-width: 480px) {
    .not-found-page__text {
        line-height: 15px;
        margin-top: 10px;
        min-width: 300px;
        font-size: 12px;
    }
}